{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">

</head>
<body>
    <form method="POST">
        {% csrf_token %}

        <h1>Login</h1>
        <!-- Display error message when username and password are incorrect -->
        <p style="color:red">{{result}}</p>
        <!-- Username Input -->
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <br><br>
        <!-- Password Input -->
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <br><br>
        <!-- Submit Button -->
        <button type="submit">Login</button>
        <br>
        <!-- If not account -->
        <p>Dont have an account <a href="{% url 'signup' %}">Signup</a></p>
    </form>


</body>
</html>
