{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Blog</title>
    <link rel="stylesheet" href="{% static 'updateblogs.css' %}">
</head>
<body>
    <div class="blog-container">
        <div class="blog-form">
            <h1>Update Blog</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p class="success-message">{{ result }}</p>
                
                <div class="input-group">
                    <label for="blog_title">Blog Title:</label>
                    <input type="text" id="blog_title" name="blog_title" value="{{ updateblog.blog_title }}" required>
                </div>
                
                <div class="input-group">
                    <label for="blog_content">Blog Content:</label>
                    <textarea id="blog_content" name="blog_content" rows="5" required>{{ updateblog.blog_content }}</textarea>
                </div>

                <div class="input-group">
                    <label>Current Image Path:</label>
                    <input type="text" value="/media/{{ updateblog.blog_image }}" readonly>
                </div>
    
                <!-- Change Image -->
                <div class="input-group">
                    <label for="blog_image">Change Image:</label>
                    <input type="file" id="blog_image" name="blog_image">
                </div>
                <button type="submit" class="submit-btn">Update Blog</button>

            </form>
        </div>
    </div>
</body>
</html>
